<!DOCTYPE html>
{% extends 'rsystem/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {{car_detail.car_make}}
    {% endblock %}
</head>
{% block content %}
<body>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Reservation ID</th>
        <th scope="col">Image</th>
        <th scope="col">Car Make</th>
        <th scope="col">Car Rent</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Days Booked</th>
        <th scope="col">Total Rent</th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in user_reservation_detail %}
    <tr>
      <th scope="row">{{reservation.id}}</th>
      <td class="image-cell"><img src="{%if reservation.car_make.car_image %} {{reservation.car_make.car_image.url}}{%else%}{% static 'media/media/na.jpeg'%} {% endif %}" alt="Card image cap" class="img-fluid"></td>
      <td>{{reservation.car_make}}</td>
        <td>{{reservation.car_make.car_rent}}</td>
      <td>{{reservation.start_date}}</td>
        <td>{{reservation.end_date}}</td>
        <td>{{reservation.total_days}}</td>
        <td>{{reservation.total_rent}}</td>
        <td><a href="{% url 'rsystem:delete_reservation' reservation.id %}" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-info">Confirm</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
</body>
</html>
<style>
    td.image-cell{
        width: 150px;
        height: auto;
    }
    .image-cell{
        max-width: 100%;
        height: auto;
        display: block;
    }

</style>
{% endblock %}

